<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinformPong.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WinformPong.Properties.Settings>
            <setting name="PlayerColor" serializeAs="String">
                <value>Salmon</value>
            </setting>
            <setting name="OpponentColor" serializeAs="String">
                <value>LightSeaGreen</value>
            </setting>
            <setting name="BallColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="BallSpeed" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="TimerMovement" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TimerOpponent" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="OpponentSpeed" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="PlayerSpeed" serializeAs="String">
                <value>2</value>
            </setting>
        </WinformPong.Properties.Settings>
    </userSettings>
</configuration>